<h2>Découvrez mes travaux</h2>
        <p>Lorem ipsum dolor si amet, consectetur adipisicing elit.</p>

        <figure>
            <img src="src/app/img/image1.jpg" alt="Projet 1">
            <figcaption><span>Projet 1</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="src/app/img/image2.jpg" alt="Projet 2">
            <figcaption><span>Projet 2</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="src/app/img/image3.jpg" alt="Projet 3">
            <figcaption><span>Projet 3</span> <button>Afficher les détails</button></figcaption>
        </figure>

        <figure>
            <img src="src/app/img/image4.jpg" alt="Projet 4">
            <figcaption><span>Projet 4</span>  <button>Afficher les détails</button></figcaption>
        </figure>

        <!--Modale-->
        <section id="modale">
            
            <article>
                <h2><span>Projet 1</span> <i class="fa fa-times"></i></h2>
                <img src="src/app/img/image1.jpg" alt="Projet 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe autem repellendus, culpa perspiciatis sit. Beatae, iste, nesciunt. Eveniet, ipsa, asperiores omnis amet molestias id dolorum, unde illo sed quas, vel!</p>
            </article>

        </section>   