<h2>A propos</h2>
            <img src="src/app/img/portrait.jpg" alt="Photo de profil">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, quis accusantium ut qui sapiente suscipit sit, inventore ad expedita provident, excepturi consequuntur eos numquam nesciunt delectus reiciendis illum! Odit, sint.</p>

            <h3>Mes compétences</h3>
            <ul>
                <li>
                    <p><span>HTML : 84% </span></p>
                </li>
                <li>
                    <p><span>CSS : 25% </span></p>
                </li>
                <li>
                    <p><span>Javascript : 50% </span></p>
                </li>
            </ul>

            <p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce lien</a>.</p>